

body {
    margin: 0;
    padding: 0;
    background-image: url("123.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.7);;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 400px;
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
}

.btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}


